*{
    padding: 0%;
    margin: 0%;
    font-family:"Oswald";
}

.container{
    height:350px;
    width:250px;
    background-image:url(" https://dl.dropbox.com/s/rvuwijncvfdwvc0/lagos.jpg?dl=0") ;
    background-size:300px 300px;
    background-position: 300px 0px;
    background-repeat: none;
    border-radius:15px;
    position: absolute;
    top: 0;
    bottom: 0%;
    right: 0;
    left: 0;
    margin:auto;
    overflow: hidden;
}

.container .change{
    display:flex;
    height:40px;
    width: 80px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    left: calc(90% - 50px);
    top: calc(0% + 10px);
   
    
}

.container .change p{
   margin: auto;
   color: rgb(0, 0, 0);
   font-size: 0.8em;
   font-weight: 800;
}

.weather-details{
    height:20vh;
    width: 100%;
    background-color: rgb(8, 8, 8);
    position: absolute;
    top:calc(100% - 20vh);
    transition:1s all;
    border-top:3px solid white;
}

.weather-details h1{
    color: #fff;
    font-size: 1.2em;
    margin-left:20px;
    margin-top: 20px;

}

.weather-details p{
    color: #fff;
    font-size: 1.2em;
    margin-left:20px;
    margin-top: 20px;
}

.weather-details span{
    display:flex;
    height:50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: calc(90% - 30px);
    top: calc(90% - 50px);
    color: rgb(255, 175, 4);
}

.weather-details span .fa{
    margin: auto;
    font-size: 1.5em;
    color: rgb(255, 175, 4);
}

.weather-info{
    height:80vh;
    width: 100%;
    background: rgba(22, 224, 32, 0.575);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.0px);
    -webkit-backdrop-filter: blur(5.0px);
    margin-top:150%;
    transition:1s all;
    border-radius:15px;
}

.weather-info h1{
    position: relative;
    text-align: center;
    top: 20px;
    text-transform: capitalize;
    color: #fff;


}

.weather-info p{
    position: relative;
    margin-top:20px;
    padding:10px;
    color: #fff;
    font-size:0.9em;
}

.container:hover .weather-info{
    margin-top: 0%;
}

.container:hover .weather-details{
    background-color: rgb(122, 0, 179);
}

.city{
    position: absolute;
    top:20px;
    left: 15px;
    height:10%;
    width:10%;
}

.city h1{
    color:#fff;
}

.city p{
    color: #fff;
    font-size:1em;
}

